__pycache__/utils.cpython-310.pyc
corr_trimmed_folder/
preprocess_test_logs/
openpkl.py
*.pkl
*.png
*.pdf
*.svg
*.eps
*.tiff
*.jpg
*.jpeg
*.gif
*.bmp
*.webp
*.ico
*.heic
*.heif
*__pycache__/
*.pyc
*.out
*.err
corr_trimmed_*.txt
raw_corr/
log/
data/**/*.pkl